#cabecera {

        		width: 50%;
			    margin: auto;
			    border: 1px solid red;
			    padding-top: 50px;
			    padding-right: 50px;
			    padding-bottom: 50px;
			    padding-left: 50px;
    }
.imagen_cabecera{

	width: 30%;
    margin: auto;
    display: block;
    	
}
#contenedor {

        		width: 1000px;
			    margin: auto;
			    border: 1px solid red;
			    
    }